  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <i class="fa-solid fa-square-poll-vertical fa-4x" style="--fa-primary-color: blue;"></i>
    <a 
      href="/profile" <%- title === "Profile" ? 'class="active"' : "" %>
    >
      Profile
    </a>
    <a 
      href="/profile/favorites" <%- title === "Favorites" ? 'class="active"' : "" %>
    >
      Favorites
    </a>
    <a 
      href="/polls" <%- title === "Favorites" ? 'class="active"' : "" %>
    >
      All Polls
    </a>
    <a 
      href="/polls/new" <%- title === "Favorites" ? 'class="active"' : "" %>
    >
      Create Poll
    </a>

    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <% } %>
  </nav>
