  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <header>
    <a id="icon" href="/"><i href="/index" class="fa-solid fa-square-poll-vertical fa-4x" style="--fa-primary-color: blue;"></i></a>
    <nav>
      <a id="top-nav"
        href="/" <%- title === "Profile" ? 'class="active"' : "" %>
      >
        Home
      </a>
      
      <% if (user) { %>

        <a id="top-nav"
          href="/profiles" <%- title === "Profile" ? 'class="active"' : "" %>
        >
          Profile
        </a>
        <a id="top-nav"
          href="/profile/favorites" <%- title === "Favorites" ? 'class="active"' : "" %>
        >
          Favorites
        </a>
      <% } %>
      <a id="top-nav"
        href="/polls" <%- title === "Favorites" ? 'class="active"' : "" %>
      >
      All Polls
      </a>
      <a id="top-nav"
        href="/polls/new" <%- title === "Favorites" ? 'class="active"' : "" %>
      >
        Create Poll
      </a>
    </nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <% } %>
  </header>
