<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <img class="censys" src="/stylesheets/images/Censys.png" alt="Censys logo">
  <% if (user) { %>
    <h2 id="welcome"> Welcome back, <%=user.profile.name%>!</h4>
  <% } %>
  <form>
    <input id="search-input" autocomplete="off" placeholder="Search" type="text">
    <button><i id="search-icon" class="fa-solid fa-magnifying-glass fa-2x"></i></button>
  </form>
  <h2 id="topics-title">Topics</h2>
  <section id="topics-container">
    <div id="topic-content"><i class="fa-solid fa-info fa-2x"></i></div>
    <div id="topic-content"><i class="fa-solid fa-heart fa-2x"></i></div>
    <div id="topic-content"><i class="fa-solid fa-question fa-2x"></i></div>
    <div id="topic-content"><i class="fa-regular fa-face-laugh-squint fa-2x"></i></div>
  </section>
  <!-- <section id="topics-container-popup">
    <div id="topic-content-popup"><i class="fa-solid fa-info fa-2x"></i></div>
    <div id="topic-content-popup"><i class="fa-solid fa-heart fa-2x"></i></div>
    <div id="topic-content-popup"><i class="fa-solid fa-question fa-2x"></i></div>
    <div id="topic-content-popup"><i class="fa-regular fa-face-laugh-squint fa-2x"></i></div>
  </section> -->
  <section id="newest-polls">
    <h2>Newest Polls</h2>
    <% for (let i = 0; i < 5 ; i++ ){ %>
      <a  href="/polls/<%= polls[i]._id %>">
        <div class="newest-polls-container">
          <h2 class="box-contents"><%= polls[i].question %></h2>
        </div>
      </a>
    <% } %>
    <a id="newest-show-more" href="/polls">
      <p class="newest-show-more">Show More...</p>
    </a>
  </section>
  <section id="featured-poll">
    <h2 class="featured-header">Featured Poll</h2>
    <% for (let i = 0; i < 1; i++ ){ %>
      <a  href="/polls/<%= polls[i]._id %>">
        <div class="featured-poll-container">
          <h2 class="featured-box-contents"><%= polls[i].question %></h2>
          <div class="featured-votes">Votes: <%= polls[i].totals.totalOne + polls[i].totals.totalTwo %></div>
        </div>
      </a>
    <% } %>
    <a id="featured-show-more" href="/polls"><p>Show More...</p></a>
  </section>
  <a href="/polls/new"><button id="create-poll-btn">Create Poll</button></a>
</main>

<%- include('./partials/footer') %>
