<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/polls/index.css">
<%- include('../partials/nav') %>

<main>
  <div id="page-container">
    <h1 class="page-title"><%= title %></h1>
    <% poll.forEach(poll => { %>
      <div class="poll-container">
        <a href="/polls/<%= poll._id %>">
          <h2 class="box-contents"><%= poll.question %></h2>
        </a>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>