<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/polls/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="page-container">
    <div class="edit-btns-container">
      <% if (poll.author.equals(user?.profile._id)) { %>
        <a href="/polls/<%= poll._id %>/edit">
          <button class="edit-btn">Edit Poll</button>
        </a><br>
        <a href="/polls/<%= poll._id %>/?_method=DELETE">
          <button class="delete-btn">Delete Poll</button>
        </a>
      <% } %>
    </div>
    <div>
        <p class="question"><%= poll.question %></p>
        <p class="description"><%= poll.description %></p>
    </div>
    <form class="choices-form">
      <div class="choices-container">
        <input class="choice-one" type="radio"><%= poll.choices.choiceOne %></input>
        <input class="choice-two" type="radio"><%= poll.choices.choiceTwo %></input>
      </div>
      <button>Submit</button>
    </form>
    
    
  </div>
</main>

<%- include('../partials/footer') %>