<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/polls/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <div>
      <h1><%= poll.question %></h1>
    </div>
    <div>
      <h4><%= poll.description%></h4>
    </div>
    <div>
      <p><%= poll.choices.choiceOne %></p>
      <p><%= poll.choices.choiceTwo %></p>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>