<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/polls/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="page-container">
    <div class="edit-btns-container">
      <% if (poll.author.equals(user?.profile._id)) { %>
        <a href="/polls/<%= poll._id %>/edit">
          <button class="edit-btn">Edit Poll</button>
        </a><br>
        <form action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
            <button class="delete-btn">Delete Poll</button>
        </form>
      <% } %>
    </div>
    <div class="text-container">
        <p class="question"><%= poll.question %></p>
        <p class="description"><%= poll.description %></p>
    </div>
    <form class="choices-form">
      <div class="choices-container">
        <div class="choice-one" >
          <input type="radio"><%= poll.choices.choiceOne %></input>
        </div>
        <div class="choice-two">
          <input  type="radio"><%= poll.choices.choiceTwo %>
        </input>
        </div>
      </div>
      <button>Submit</button>
    </form>
    
    
  </div>
</main>

<%- include('../partials/footer') %>